<div class="flex justify-between bg-blue-600 flex-wrap p-2">
    <div class="flex gap-2 flex-wrap mb-4">
        <div class="flex gap-1">
            <img src="../../assets/img/logo/logo-2.jpg" class="w-6 rounded-full border" alt="">
            <a routerLink="/">ZikMound</a>
        </div>
        <nav>
            <ul class="flex gap-4 flex-wrap ">
                <li><a class="px-4 py-2 border hover:bg-black hover:text-white rounded-md"routerLink="/">Accueil</a></li>
                <li><a class="px-4 py-2 border hover:bg-black hover:text-white rounded-md"routerLink="connexion">Connexion</a></li>
                <li><a class="px-4 py-2 border hover:bg-black hover:text-white rounded-md"routerLink="">Déconnexion</a></li>
            </ul>
        </nav>
    </div>
    <div class="flex  gap-2 flex-wrap">
        <div class="flex gap-1">
            <img src="../../assets/img/avatar/avatar-1.png" class="w-6 h-6 rounded-full border" alt="">
            <p class="">Nom d'utilisateur</p>
        </div>
        <p>Timer</p>
    </div>
</div>